/* .wrapper-profile {
  width: 70%;
  height: 350px;
  background-color: purple;
};

.container {
  background-color: green;
  width: 90%;
  height: 300px;
  margin: 20vh auto;

}

.profile-pic {
  width: 300px;
  border: 5px solid orange;
  display: inline-block;
  top: 70px;
  position: absolute;

}

.user {
  background-color: brown;
  width: 500px;
  top: 70px;
  display: inline-block;
  position: absolute;
}

.track-progress {
  position: relative;
  left: 300px;
  top: 85px;
}

.progressBar {
  width: 30%;
  position: relative;
  left: 300px;
  top: 90px;
}

 */
