.profile-pic {
  position: relative;
  top: 70px;
  left: 500px;
}

.user {
  position: absolute;
  right: 700px;
  top: 70px;
}

.track-progress {
  position: relative;
  left: 300px;
  top: 85px;
}

.progressBar {
  width: 30%;
  position: relative;
  left: 300px;
  top: 90px;
}
