/* COUNTDOWN TIMER */

ul {
  margin-top: 0;
  padding: 0;
}

li {
  color: orange;
  display: inline-flex;
  list-style: none;
  padding: 0 30px;
  width: 120px;
}

#displayTime li {
  background-color: rgb(103, 104, 104);
  display: inline-block;
  margin: auto;
  width: 140px;
  border: solid 2px white;
}

#numbers li {
  font-size: 100px;
  height: 160px;
  padding-top: 40px;
  border-radius: 5px;
}

ul#labels {
  margin: 0;
}

#labels li {
  background-color: rgb(54, 54, 54);
  height: 40px;
  padding-top: 20px;
}

#labels li:first-child {
  border-top-left-radius: 7px;
}

#labels li:last-child {
  border-top-right-radius: 7px;
}

@media (min-width: 385px) and (max-width: 640px) {
  #displayTime li {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 384px) {
  #displayTime li {
    width: 100%;
  }
}
