.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card {
  margin: 10px;
}

.body {
  margin: 10px;
}

.button {
  transition: 0.3s ease-in-out;
  margin-top: 20px;
  margin-right: 20px;
}

.button:hover {
  background-color: #b53a25;
  letter-spacing: 3px;
}
