/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.FAQ {
  background-color: aliceblue;
}

h1 {
  margin: 40px auto;
  text-align: center;
}

ul {
  margin-top: 40px;
}

li {
  list-style: none;
  display: inline-flex;
  width: 120px;
  padding: 0 30px;
  color: orange;
}

a:link {
  text-decoration: none;
}
