.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.FAQ {
  background-color: aliceblue;
}

h1 {
  margin: 40px auto;
  text-align: center;
}

ul {
  margin-top: 0;
  padding: 0;
}

li {
  color: orange;
  display: inline-flex;
  list-style: none;
  padding: 0 30px;
  width: 120px;
}

a:link {
  text-decoration: none;
}
