name: Node CI
on: push

jobs:
  Job1:
    name: Job 1 of 2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Build
        run: |
          echo 'Running yarn build'
          yarn build

      - name: Install
        run: |
          echo 'Installing yarn'
          yarn install

  Job2:
    needs: job1
    name: Job 2 of 2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Testing
        run: |
          echo 'Yarn testing beginning'
          yarn test

      - name: Linting
        run: |
          echo 'Yarn linting beginning'
          yarn lint
