name: Node CI

on: push

jobs:
  establish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x

  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo 'Installing yarn'
          yarn install


  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo 'Running yarn build'
          yarn build

  # lint:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - run: yarn lint

  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - run: yarn test
