# The name of this workflow, which will be displayed in GitHub's Actions page.
name: CI Pipeline
# The GitHub event that triggers the workflow.
on:
  # This causes the action to activate on a push to any branch.
  push:
    branches: [ '**' ]
  # This causes the action to activate on a pull request from the master branch.
  pull_request:
    branches: [ master ]

# Groups together all the jobs that run in this workflow file.
jobs:
  # The first job - environment setting, installing, and building
  job1:
    name: Environment Install and Build
    # Configures the job to run on an Ubuntu Linux runner. This means that the job will execute on a fresh virtual machine hosted by GitHub.
    runs-on: ubuntu-latest
    # Groups together all the steps that run in this job
    steps:
      # This checks out the repo and downloads it to the runner, allowing it to
      # run actions against the code (such as testing tools).
      - uses: actions/checkout@v2
        # By default, auth is persisted by above, these lines do not allow this
        with:
          persist-credentials: false
      # The actions/setup-node@v2 action installs the specified node version on the runner.
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      # Installs the project's dependencies
      - name: Install
        # Echo prints the process that is happening in the logs so they can be
        # searched easier
        # Installing dependencies for a project with yarn
        run: |
          echo 'Running yarn install'
          yarn install
      # Builds the project
      - name: Build
        run: |
          echo 'Running yarn build'
          yarn build
      # - name: Upload build to use in job2
      #   uses: actions/upload-artifact@v2
      #   with:
      #     # The name of the artifact
      #     name: job1_build
      #     # The path to the storage location of the artifact
      #     path: |
      #       dist
      #       !dist/**/*.md
      #     # Defines retention period for the artifact
      #     retention-days: 5

  # The second job - testing and lint
  job2:
    # This makes job2 always run after job1 completes even if job1 fails.
    if: always()
    # This requires job1 to complete before job2 starts, and then uses that job
    # to proceed
    needs: job1
    name: Testing and Lint
    # Configures the job to run on an Ubuntu Linux runner. This means that the job will execute on a fresh virtual machine hosted by GitHub.
    runs-on: ubuntu-latest
    steps:
      # This checks out the repo and downloads it to the runner, allowing it to
      # run actions against the code (such as testing tools).
      - uses: actions/checkout@v2
        # By default, auth is persisted by above, these lines do not allow this
        with:
          persist-credentials: false
      # The actions/setup-node@v2 action installs the specified node version on the runner.
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      # # Downloads all artifacts created in job1
      # - name: Download build from job1
      #   uses: actions/download-artifact@v2
      # Need to run yarn again as jest isn't being found to run tests if not
      - name: Rerun yarn install
        run: yarn install
      # Runs the test script that is defined by package.json.
      - name: Testing
        run: |
          echo 'Yarn testing beginning'
          yarn test
      # Runs the lint script that is defined by package.json.
      - name: Linting
        run: |
          echo 'Yarn linting beginning'
          yarn lint
